@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    margin: 0;
    font-family: "Montserrat", sans-serif;
 
    --black: rgb(11, 13, 15);
    --darkGray: rgb(25, 29, 33);
    --white: #fafaff;
    --learn: rgb(128, 224, 255);
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: rgb(255, 255, 255, .1);
}

::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255, 0.1);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(255, 255, 255, .2);
    
}

body{
    margin: 0;
    padding: 0;
    color: var(--white);
    background-color: var(--black);
}